/* .sectiontwo-first{
    width: 800px;
    height: 700px;
    background-color: gray;
    background-image:linear-gradient(to right, rgba(229, 157, 195, 0.569) , white ,#cc86efa9 ),url(banner.jpg);
    background-image: url("banner.jpg");
} */

/* .section-two{
    
    width: 100%;
}

.sectiontwo-first{
    overflow-x:hidden;
    margin: 50px;
}

.sectiontwo-first{
    width: 100%;
    height: 100%;
    overflow: hidden;
} */


/* .sectiontwo-first img{
   width: 90%;
   height: 100%;
}
.section-two{
    
}
#para #btn{
    position: absolute;
    top: 100px;
}

#btn{ */
    


